@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"); /* Font-Family: 'League Spartan' */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* Google Icons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}

#app {
  height: 100vh;
  width: 100vw;
}
#app .phils-container {
  background-image: url("/public/img/phils.jpg");
  background-position: 0 20%;
}
#app .japan-container {
  background-image: url("/public/img/japan24.jpg");
  background-position: center;
}
#app .her-container {
  background-image: url("/public/img/Fave cousin.jpg");
}
#app .main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  position: relative;
}
#app .main-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#app .main-container .countdown {
  height: auto;
  width: 60%;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#app .main-container .countdown .time {
  width: 250px;
}
#app .main-container .countdown .time .days,
#app .main-container .countdown .time .hours,
#app .main-container .countdown .time .minutes,
#app .main-container .countdown .time .seconds {
  text-align: center;
}
#app .main-container .countdown .time .days h1,
#app .main-container .countdown .time .hours h1,
#app .main-container .countdown .time .minutes h1,
#app .main-container .countdown .time .seconds h1 {
  position: relative;
  top: 20px;
  font-size: 8rem;
  font-weight: 100;
  letter-spacing: 20px;
  color: white;
}
#app .main-container .countdown .time .days h2,
#app .main-container .countdown .time .hours h2,
#app .main-container .countdown .time .minutes h2,
#app .main-container .countdown .time .seconds h2 {
  position: relative;
  top: 40px;
  font-size: 1.6rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: white;
}
#app .main-container .countdown span {
  font-size: 8rem;
  margin: 0 20px;
  color: white;
}
#app .main-container #countryBtn {
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#app .main-container #countryBtn .btn {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px;
  padding: 20px 50px;
  border: 3px solid white;
  color: white;
}
#app .main-container #countryBtn .btn:hover .country-link {
  color: white;
}
#app .main-container #countryBtn .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  z-index: -2;
}
#app .main-container #countryBtn .btn:hover::before {
  opacity: 1;
}
#app .main-container #countryBtn .phils-btn::before {
  background: linear-gradient(to right, rgb(0, 56, 168), rgb(206, 17, 38), rgb(252, 209, 22));
}
#app .main-container #countryBtn .phils-btn:hover .country-link {
  color: white;
}
#app .main-container #countryBtn .japan-btn::before {
  background: linear-gradient(to right, black 1px, transparent 1px 299px, black 299px), linear-gradient(to right, black 1px, transparent 1px 299px, black 299px), linear-gradient(to bottom, black 1px, transparent 1px 199px, black 199px 200px, transparent 200px 210px, black 210px 211px, transparent 211px 409px, black 409px), radial-gradient(circle, red 25%, white calc(25% + 1px)), linear-gradient(to right, blue 33%, white 33% 66%, red 66%);
}
#app .main-container #countryBtn .japan-btn:hover .country-link {
  color: transparent;
}
#app .main-container #countryBtn .her-btn {
  transition: 0.4s ease;
}
#app .main-container #countryBtn .her-btn:hover {
  background-color: white;
  transition: 0.4s ease;
}
#app .main-container #countryBtn .her-btn:hover .country-link {
  color: black;
}
#app .main-container #countryBtn .country-link {
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease;
  z-index: 1;
}
#app #header {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
#app #header .header-container {
  height: 100%;
  width: 90%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
#app #header .header-container .header-logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#app #header .header-container .header-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app #header .header-container .header-btns h1 {
  padding: 0 40px;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}
#app #header .header-container .header-btns h1:last-of-type {
  padding-right: 0px;
}/*# sourceMappingURL=index.css.map */